  <%- include("header"); -%>
   
	<%# this is a comment #%>

  <div class="box" id="heading">
      <% if(listTitle === "Saturday" || listTitle === "Sunday"){ %>
        <h1>Today is <%= today %>!</h1>
        <h3>And the list title today is <%= listTitle %>!</h3>
     <% }else{ %>
        <h1>Today is <%= today %>!</h1>
        <h3>And the list title today is <%= listTitle %>!</h3>
      <%  } %>
  </div>

  <div class="box">
    <!-- <h2>My Todo List</h2> -->
        <!-- we iterate the newItems array coming from the server to show on each item in the web page -->
      <% newItems.forEach(function(item){ %> 
      <div class="item">
          <input type="checkbox">
          <p><%= item %></p>
      </div>
      <% }); %>

      <!-- we created a form to add new item -->
        <form class="item" action="/" method="post">  
          <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
          <button type="submit" name="list" value="<%= listTitle %>" >+</button>
        </form>
  </div>

  <%- include("footer"); -%>

